
.main-box {
    margin: 0 auto; /* Centre le conteneur principal */
    max-width: 1200px; /* Limite la largeur du conteneur principal */
}

.card {
    background-color: #333; /* Couleur de fond des cartes */
    border-radius: 10px; /* Coins arrondis des cartes */
    transition: transform 0.2s; /* Animation de transformation */
    overflow: hidden; /* Évite le débordement de contenu */
}

.card:hover {
    transform: scale(1.05); /* Effet de survol */
}

.card-image img {
    border-bottom: 2px solid #00D1B2; /* Ligne de séparation en bas de l'image */
}

.card-content {
    color: #FFFFFF; /* Texte blanc pour le contenu de la carte */
}

.title {
    color: #00D1B2; /* Couleur du titre */
}

.content {
    font-size: 14px; /* Taille de police pour le texte de contenu */
}