body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Styles pour le conteneur principal */
.container {
    font-family: 'Montserrat', sans-serif; /* Police Montserrat */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la fenêtre du navigateur */
    width: 100%;
    background-color: #000000; /* Fond noir */
}

/* Cadre principal avec place pour le logo */
.box {
    display: flex;
    align-items: center;
    background-color: #1b1b1b; /* Fond vert à l'intérieur du cadre */
    border: 6px solid white; /* Bordure blanche épaisse */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    max-width: 800px;
    height: 150px; /* Hauteur du cadre */
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */


}

.box:hover {
    background-color: #17b978; /* Change la couleur de fond au survol */
    transform: scale(1.05); /* Agrandit légèrement le cadre au survol */
}

/* Logo à gauche du cadre */
.logo {
    width: 100px; /* Taille du logo */
    height: auto;
    margin-right: 20px; /* Espace entre le logo et le texte */
}

/* Texte à droite du cadre */
.box p {
    margin-left: 0;
    font-size: 34px;
    color: #FFFFFF; /* Texte en blanc */
    text-align: left; /* Texte aligné à droite */
    flex-grow: 1; /* Le texte prend l'espace restant à droite */
    font-weight: bold; /* Texte en gras */
}


form {
    align-items: center;
    background-color: #1b1b1b; /* Fond vert à l'intérieur du cadre */
    border: 6px solid white; /* Bordure blanche épaisse */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    max-width: 800px;
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */

    transition: background-color 0.3s, transform 0.3s; /* Transition pour l'effet de survol */

}



h1 {
    margin-bottom: 20px;
}

/* Appliquer des styles uniformes aux champs de formulaire */
.form-control {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
}

/* Appliquer le même style au champ input spécifique */
#artiste_search_input {
    height: 40px; /* Ajuster la hauteur pour qu'elle corresponde à celle des selects */
    width: calc(100% - 22px); /* Ajuster la largeur pour qu'elle corresponde à celle des selects, en prenant en compte les marges et padding */
}

/* Styles pour les select */
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    height: 40px; /* Assure que la hauteur est la même que pour l'input */
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
}


label {
    color: white;
    display: block;
    margin-bottom: 5px;
}



option {
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #1DB954; /* Couleur du bouton (vert Spotify) */
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #1ed760;
}

#results {
    margin-top: 20px;
    color:white;
}

.suggestions-container {
    display: flex;
    flex-wrap: wrap;
}

.artist-item {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.artist-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.artist-name {
    color: white;
    margin-top: 8px;
    font-size: 14px;
}

.selected-artist {
    border: 5px solid #1ed760;
}

