body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Styles pour le conteneur principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la fenêtre du navigateur */
    width: 100%;
    background-color: #000000; /* Fond noir */
}

/* Cadre principal avec place pour le logo */
.box {
    display: flex;
    align-items: center;
    background-color: #1b1b1b; /* Fond vert à l'intérieur du cadre */
    border: 6px solid white; /* Bordure blanche épaisse */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    max-width: 800px;
    height: 150px; /* Hauteur du cadre */
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */

    transition: background-color 0.3s, transform 0.3s; /* Transition pour l'effet de survol */


}

.box:hover {
    background-color: #17b978; /* Change la couleur de fond au survol */
    transform: scale(1.05); /* Agrandit légèrement le cadre au survol */
}

/* Logo à gauche du cadre */
.logo {
    width: 100px; /* Taille du logo */
    height: auto;
    margin-right: 20px; /* Espace entre le logo et le texte */
}

/* Texte à droite du cadre */
.box p {
    margin-left: 0;
    font-size: 34px;
    color: #FFFFFF; /* Texte en blanc */
    font-family: 'Montserrat', sans-serif; /* Police Montserrat */
    text-align: left; /* Texte aligné à droite */
    flex-grow: 1; /* Le texte prend l'espace restant à droite */
    font-weight: bold; /* Texte en gras */
}




h1 {
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
}

label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

option {
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #1DB954; /* Couleur du bouton (vert Spotify) */
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #1ed760;
}

#results {
    margin-top: 20px;
    color:white;
}

.suggestions-container {
    color: white;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    z-index: 1000;
}

.suggestions-container div {
    padding: 8px;
    cursor: pointer;
}

.suggestions-container div:hover {
    background-color: #f0f0f0;
}

