body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Styles pour le conteneur principal */
.container {
    font-family: 'Montserrat', sans-serif; /* Police Montserrat */
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne (verticalement) */

    justify-content: top;
    align-items: center;
    height: 100vh; /* Hauteur de la fenêtre du navigateur */
    width: 100%;
    padding-top: 100px;
    background-color: #000000; /* Fond noir */
}


.logo-home {
    width: 40px; /* Taille du logo */
    height: auto;
    padding: 5px;
}

.home-button {
    position: fixed; /* Reste toujours en place même lors du scroll */
    top: 10px; /* Distance par rapport au haut de l'écran */
    left: 10px; /* Distance par rapport au bord gauche */
    z-index: 1000; /* S'assure que le bouton reste au-dessus d'autres éléments */
    display: flex;
    align-items: center;

    border: 3px solid white; /* Bordure blanche épaisse */
    border-radius: 7px; /* Coins arrondis */
    background-color: #1ed760;
}

.home-text {
    position: "absolute";
    left: 50px; 
    top :0;
    padding :5px 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}