
#results {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b; /* Fond sombre à l'intérieur du cadre */
    border: 6px solid white; /* Bordure blanche épaisse */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
    color: white; /* Texte en blanc */
    display: none; /* Cacher par défaut */
    text-align: center;
    
}

.column {
    width: 400px;  /* Ajustez si nécessaire */
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.prov {
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b; /* Fond sombre à l'intérieur du cadre */
    border: 6px solid white; /* Bordure blanche épaisse */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    margin-bottom: 40px;
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
    color: white; /* Texte en blanc */
    text-align: center;
    font-size: 40px;
}


.track-item {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #101010;
    cursor: pointer;


}

.track-item:hover {
    border: 1px solid #1DB954; /* Bordure blanche épaisse */
    border-radius: 8px; /* Coins arrondis */   
}
.track-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding-right: 5px;  
}

.track-index {
    align-items: center;
    justify-content: center;
    padding-right: 8px; 
    text-align: center;

}

.track-name {
    margin: 5px 0;
    align-items: center;
    justify-content: center;
}

.choice-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

}

.choice-box {
    display: flex;
    background-color: white;
    margin: 15px;
    color: #000000;
    align-items: center;


}
.choice-box-text {
    align-items: center;
    margin: 5px;
    font-size: 25px;
}

.logo-choices {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.selected {
    border: 4px solid #1DB954;
    border-radius:  6px;

}
