<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotistat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_spotistats.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts -->

</head>
<body>
    <div class="main-container">
        <div class="nav-bar">
            <div class="logo-spotistat" data-url="{{ url_for('main.accueil') }}">
                <img src="{{ url_for('static', filename='images/logo_spotistats.png') }}" alt="Logo Spotify" id="logo-spotistat">
                <p class="text-spotistat">Spotistat</p>

            </div>
            <div class="search-bar">
                <input class="input" id="search_bar" type="text" placeholder="Rechercher une fonctionnalité...">
            </div>
    
            <div class="about" data-url="{{ url_for('main.portfolio') }}">
                <p>A propos</p>
            </div>
        </div>

        <div class="main-box">
            <div class="feature-box" data-url="{{ url_for('main.top_tracks_artist') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/icon_top_10.png') }}" alt="Top tracks by artist">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Top tracks by artist</h3>
                    <p class="feature-description">Découvrez les meilleures pistes par vos artistes préférés.</p>
                </div>
            </div>
            
            <div class="feature-box" data-url="{{ url_for('main.top_tracks_search') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/icon_top_tracks_search.png') }}" alt="Top tracks global">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Top tracks by search</h3>
                    <p class="feature-description"> Recherchez et explorez les meilleurs morceaux disponibles.</p>
                </div>
            </div>

            <div class="feature-box" data-url="{{ url_for('main.login') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/icon_me.png') }}" alt="About me">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">À propos de moi</h3>
                    <p class="feature-description">En savoir plus sur moi et mes artistes préférés.</p>
                </div>
            </div>

            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>
            <div class="feature-box" data-url="{{ url_for('main.portfolio') }}">
                <div class="feature-logo">
                    <img src="{{ url_for('static', filename='images/gear_icon.png') }}" alt="zzz">
                </div>
                <div class="feature-info">
                    <h3 class="feature-title">Not Yet Available...</h3>
                    <p class="feature-description">...</p>
                </div>
            </div>


        </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>    
    <script src="{{ url_for('static', filename='accueil.js') }}"></script>    
</body>
</html>
