<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotistat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_spotistats.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
    <div class="container">

        <div class="main-box">

            <div class="bienvenue">
                <img src="{{ url_for('static', filename='images/logo_spotistats.png') }}" alt="Logo Spotify" class="logo">
                <p>Bienvenue sur Spotistat !!</p>
            </div>

            <a href="{{ url_for('main.top_tracks_artist') }}" class="box-link">
                <img src="{{ url_for('static', filename='images/icon_top_10.png') }}" alt="Logo top 10" class="logo_top_10">
                <p>Top tracks by artist</p>
            </a>

            <a href="{{ url_for('main.top_tracks_search') }}" class="box-link">
                <img src="{{ url_for('static', filename='images/icon_top_tracks_search.png') }}" alt="Logo top 10" class="logo_top_10">
                <p>Top tracks by artist</p>
            </a>

        </div>
    </div>
</body>
</html>
