<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotistat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_spotistats.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
    <div class="container">
        <a href="{{ url_for('main.accueil') }}" class="box-link">
            <div class="box">
                <!-- Logo Spotify -->
                <img src="{{ url_for('static', filename='images/logo_spotistats.png') }}" alt="Logo Spotify" class="logo">
                <!-- Texte à droite -->
                <p>Bienvenue sur Spotistat !!</p>
            </div>
        </a>
    </div>
</body>
</html>
