<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top tracks artists</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_spotistats.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top_tracks_artist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts -->

</head>

<body>
    <div class="main-container">
        <div class="nav-bar">
            <div class="logo-spotistat" data-url="{{ url_for('main.accueil') }}">
                <img src="{{ url_for('static', filename='images/logo_spotistats.png') }}" alt="Logo Spotify" id="logo-spotistat">
                <p class="text-spotistat">Spotistat</p>

            </div>
            <div class="search-bar">
                <input class="input" type="text" placeholder="Rechercher une fonctionnalité...">
            </div>
    
            <div class="about">
                <p>A propos</p>
            </div>
        </div>

        <div class="main-div">
            <form id="searchForm">
                <div class="form-group">
                    <input type="text" id="artiste_search_input" name="artiste_search_input" placeholder="Entrez le nom de l'artiste">
                </div>

                <div id="artist-suggestions" class="suggestions-container"></div>

                <button type="button" onclick="searchTopTracks()">Valider</button>
            </form>

            <div id="results"></div>
        </div>
    </div>

    <!-- Lien vers les fichiers JavaScript -->
    <script src="{{ url_for('static', filename='searchTopTracks.js') }}"></script>
    <script src="{{ url_for('static', filename='fetchArtistSuggestions.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    
</body>
</html>
